{% extends "base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
    <!-- All Users title -->
    <h3 class="text-center">All Users</h3>


    <!-- Users table -->
    <div class="table-responsive"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Second Name</th>
            </tr>
        </thead>
        <tbody>
             <!-- Iterate through all the users and display their information -->
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.second_name }}</td>
                    <td>
                        <!-- Edit and Delete user buttons -->
                        <a href="{{ url_for('views.edit_user', user_id=user.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('views.delete_user', user_id=user.id) }}" class="btn btn-danger">Delete</a>
                      </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
