{% extends "base.html" %}
{% block content %}
<style>
    /* Styling for the form */
    form {
        display: flex;
        flex-direction: column;
        width: 1350px;
        margin: 0 auto;
    }
    /* Styling for the labels */
    label {
        margin-top: 10px;
    }
    /* Styling for the button */
    button {
        margin-top: 20px;
        width: 100px;
        align-self: center;
    }
        /* Add individual column width styles */
    table {
        table-layout: fixed;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 8px;
        overflow: hidden;
        white-space: nowrap;
    }
    th {
        text-align: center;
        white-space: normal;
        word-wrap: break-word;
    } 
    .user-col {
        width: 150px;
    }
    .asset-name-col {
        width: 150px;
    }
    .asset-type-col {
        width: 150px;
    }
    .purchase-date-col {
        width: 150px;
    }
    .purchase-price-col {
        width: 150px;
    }
    .quantity-col {
        width: 150px;
    }
    .current-price-col {
        width: 150px;
    }
    .expected-interest-col {
        width: 180px;
    }
    .interest-payment-date-col {
        width: 150px;
    }
    .maturity-date-col {
        width: 150px;
    }
    .actions-col {
        width: 180px;
    }
</style>
<div class="container">
    <!-- Investment title -->
    <h2>Investment</h2>
    <div class="container">

        <!-- Add investment form -->
        <form action="{{ url_for('views.create_investment') }}" method="post">
            <!-- Input fields for investment details -->
            <label for="assetName">Asset Name</label>
            <input type="text" name="assetName" id="assetName" required>
            <label for="assetType">Asset Type</label>
            <input type="text" name="assetType" id="assetType" required>
            <label for="purchaseDate">Purchase Date</label>
            <input type="date" name="purchaseDate" id="purchaseDate" required>
            <label for="purchasePrice">Purchase Price</label>
            <input type="number" step="any" name="purchasePrice" id="purchasePrice" required>
            <label for="quantity">Quantity</label>
            <input type="number" step="any" name="quantity" id="quantity" required>
            <label for="currentPrice">Current Price</label>
            <input type="number" step="any" name="currentPrice" id="currentPrice" required>
            <label for="expectedInterestAmount">Expected Interest Amount</label>
            <input type="number" step="any" name="expectedInterestAmount" id="expectedInterestAmount" required>
            <label for="interestPaymentDate">Interest Payment Date</label>
            <input type="date" name="interestPaymentDate" id="interestPaymentDate" required>
            <label for="maturityDate">Maturity Date</label>
            <input type="date" name="maturityDate" id="maturityDate" required>
            <!-- Input fields for investment details -->
            <label for="user">User</label>
            <select name="user" id="user" required>
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.first_name }} {{ user.second_name }}</option>
                {% endfor %}
            </select>
            <!-- Add button -->
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <!-- Existing investments table -->
        <h2>Existing Investments</h2>
        <table>
            <thead>
                <tr>
                    <th class="user-col">User</th>
                    <th class="asset-name-col">Asset Name</th>
                    <th class="asset-type-col">Asset Type</th>
                    <th class="purchase-date-col">Purchase Date</th>
                    <th class="purchase-price-col">Purchase Price</th>
                    <th class="quantity-col">Quantity</th>
                    <th class="current-price-col">Current Price</th>
                    <th class="expected-interest-col">Expected Interest Amount</th>
                    <th class="interest-payment-date-col">Interest Payment Date</th>
                    <th class="maturity-date-col">Maturity Date</th>
                    <th class="actions-col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate through all investments and display their details in the table -->
                {% for investment in user_investments %}
                    <tr>
                        <td class="user-col">{{ investment.user.first_name }} {{ investment.user.second_name }}</td>
                        <td class="asset-name-col">{{ investment.asset_name }}</td>
                        <td class="asset-type-col">{{ investment.asset_type }}</td>
                        <td class="purchase-date-col">{{ investment.purchase_date.strftime('%Y-%m-%d') }}</td>
                        <td class="purchase-price-col">{{ investment.purchase_price }}</td>
                        <td class="quantity-col">{{ investment.quantity }}</td>
                        <td class="current-price-col">{{ investment.current_price }}</td>
                        <td class="expected-interest-col">{{ investment.expected_interest_amount }}</td>
                        <td class="interest-payment-date-col">{{ investment.interest_payment_date.strftime('%Y-%m-%d') }}</td>
                        <td class="maturity-date-col">{{ investment.maturity_date.strftime('%Y-%m-%d') }}</td>
                        <!-- Edit and Delete buttons for each investment -->
                        <td class="action-col">
                            <a href="{{ url_for('views.edit_investment', investment_id=investment.id) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ url_for('views.delete_investment', investment_id=investment.id) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

