{% extends "base.html" %}

{% block content %}
  <!-- User edit form -->
  <form method="POST">
    <h3 align="center">Edit User</h3>
    <!-- Email input field -->
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ user.email }}"
      />
    </div>
    <!-- First name input field -->
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        value="{{ user.first_name }}"
      />
    </div>
    <!-- Second name input field -->
    <div class="form-group">
      <label for="secondName">Second Name</label>
      <input
        type="text"
        class="form-control"
        id="secondName"
        name="secondName"
        value="{{ user.second_name }}"
      />
    </div>
    <!-- Save changes button -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
{% endblock %}
