{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Edit Investment</h2>
        <form action="{{ url_for('views.edit_investment', investment_id=investment.id) }}" method="post">
            <label for="assetName">Asset Name</label>
            <input type="text" name="assetName" id="assetName" value="{{ investment.asset_name }}" required>
            <label for="assetType">Asset Type</label>
            <input type="text" name="assetType" id="assetType" value="{{ investment.asset_type }}" required>
            <label for="purchaseDate">Purchase Date</label>
            <input type="date" name="purchaseDate" id="purchaseDate" value="{{ investment.purchase_date.date() }}" required>
            <label for="purchasePrice">Purchase Price</label>
            <input type="number" step="any" name="purchasePrice" id="purchasePrice" value="{{ investment.purchase_price }}" required>
            <label for="quantity">Quantity</label>
            <input type="number" step="any" name="quantity" id="quantity" value="{{ investment.quantity }}" required>
            <label for="currentPrice">Current Price</label>
            <input type="number" step="any" name="currentPrice" id="currentPrice" value="{{ investment.current_price }}" required>
            <label for="expectedInterestAmount">Expected Interest Amount</label>
            <input type="number" step="any" name="expectedInterestAmount" id="expectedInterestAmount" value="{{ investment.expected_interest_amount }}" required>
            <label for="interestPaymentDate">Interest Payment Date</label>
            <input type="date" name="interestPaymentDate" id="interestPaymentDate" value="{{ investment.interest_payment_date.date() }}" required>
            <label for="maturityDate">Maturity Date</label>
            <input type="date" name="maturityDate" id="maturityDate" value="{{ investment.maturity_date.date() }}" required>
            <button type="submit">Update Investment</button>
        </form>
    </div>
{% endblock %}
